body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

button {
    margin: 10px;
    padding: 8px 15px;
    font-size: 14px;
}

#tableContainer {
    overflow-x: auto;
    margin-top: 20px;
    padding: 0 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    min-width: 600px;
}

th,
td {
    padding: 4px;
    text-align: left;
    word-wrap: break-word;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: max-width 0.3s ease;
}




/* Estilos cuando el usuario está editando una celda */
td[contenteditable="true"]:focus {
    max-width: none;
    /* Elimina las restricciones de ancho al editar */
    white-space: normal;
    /* Permite el ajuste de texto en múltiples líneas */
    overflow: visible;
    /* Permite ver el contenido completo */
    outline: 2px solid #007bff;
    /* Añade un borde visual para indicar edición */
}

/* Mantén los otros estilos */
th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    button {
        padding: 5px 10px;
        font-size: 12px;
    }

    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 6px;
        max-width: 70px;
    }
}